* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #fffbf7;
}

header{
    height: 100px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > nav {
    width: 70%;
    display: flex;
    justify-content: center;
}

nav > ul > li {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 20px;
}

nav > ul > li > a {
    text-decoration: none;
    color: #025157;
}

#logo{
    width: 15%;
}

.actions{
    width: 15%;
}

.actions > a{
    text-decoration: none;
    color: #025157;
}

.actions > * {
    padding: 10px;
}

header > div > button{
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
}

