* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}

body{
    background-color: #fffbf7;
}

header{
    height: 100px;
    width: 90%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header > nav {
    width: 70%;
    display: flex;
    justify-content: center;
}

nav > ul > li {
    display: inline-block;
    margin-right: 15px;
    margin-left: 15px;
    font-size: 20px;
}

nav > ul > li > a {
    text-decoration: none;
    color: #025157;
}

#logo{
    width: 15%;
}

.actions{
    width: 15%;
}

.actions > a{
    text-decoration: none;
    color: #025157;
}

.actions > * {
    padding: 10px;
}

header > div > button{
    color: white;
    background-color: #67b54b;
    padding-left: 14px;
    padding-right: 14px;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    border-radius: 5px;
}

h1 {
    color: #025157;
    font-family: "Alegreya", serif;
    font-size: 60px;
    margin-bottom: 24px;
    font-weight: bold;
    margin-top: 100px;
}

h3 {
    font-family: "Alegreya", serif;
    font-size: 40px;
    line-height: 48px;
    color: #025157;
    font-weight: bold;
}

h4 {
    color: #46484c;
    font-family: "Slabo 27px", serif;
    font-size: 20px;
    margin-bottom: 30px;
    font-weight: normal;
}

p {
    color: #8b8b8bcc;
    margin-top: 15px;
}

.section-presentation{
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

.section-presentation > *{
    margin-top: 20px;
}

.section-presentation > p{
    text-align: center;
    margin-top: 20px;
    font-weight: normal;
    font-size: 18px;
}

.section-presentation figure{
    display: flex;
    justify-content: center;
}
.section-presentation figure > img{
    width: 70%;
}

form {
    display: flex;
    height: 55px;
    width: 400px;
    background-color: #025157;
    border-radius: 8px;
    margin-top: 20px;
}

form * {
    height: 100%;
    box-sizing: border-box;
}

form button {
    color: white;
    background-color: transparent;
    border: 0;
    padding: 6px 20px;
}

form input {
    border: 1px solid #b6b6b6;
    padding: 6px 20px;
    border-radius: 8px;
    width: 60%;
    max-width: 250px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.section-trial{
    display: flex;
    max-width: 70%;
    align-items: center;
    margin: 100px auto;
    margin-top: 0;
    padding: 50px;
}

.publish > p{
    font-size: 16px;
    color: black;
    line-height: 1.5;
    margin-bottom: 20px;
}

.explanatory-video{
    display: flex;
    flex: 1;
    flex-direction: column;
    align-items: center;
}

.publish{
    flex: 1;
}

